<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DFCPS_MANAGEMENT_SYSTEM.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DFCPS_MANAGEMENT_SYSTEM.My.MySettings.connString"
      connectionString="Data Source=localhost;Initial Catalog=DFCPS_MANAGEMENT_DB;User ID=sa;Password=passwork"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  
  <userSettings>
    <DFCPS_MANAGEMENT_SYSTEM.My.MySettings>
      <setting name="mUserDB" serializeAs="String">
        <value />
      </setting>
      <setting name="mServer" serializeAs="String">
        <value />
      </setting>
      <setting name="mPassDB" serializeAs="String">
        <value />
      </setting>
      <setting name="mDBname" serializeAs="String">
        <value />
      </setting>
      <setting name="printerName" serializeAs="String">
        <value />
      </setting>
      <setting name="connStringValue" serializeAs="String">
        <value />
      </setting>
    </DFCPS_MANAGEMENT_SYSTEM.My.MySettings>
  </userSettings>
</configuration>